* {
    font-family: 'Playfair Display'; /* Default font face */
    box-sizing: content-box;
}

:root {
    --dark-gray: rgba(55, 55, 55, 1);
    --medium-gray:rgba(85, 85, 85, 1);
    --gray:rgba(105, 105, 105, 1);
    --leastlight-gray:rgb(130, 130, 130);
    --light-gray: rgb(160, 160, 160);
    --background: rgb(200, 200, 200);
    --button: rgb(65, 65, 65);
}

p, figcaption, em, strong, q, a, address {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
}

.body-link {
    color: white;
    text-decoration: underline;
}

.body-link:hover {
    color: var(--dark-gray);
}

address {
    font-style: normal;
    font-weight: lighter;
}

#home {
    margin: 0;
    background-color: var(--background);
}

#home #page-title {
    background-image: url("/images/housephoto.png");
}

header {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.33);
    position: sticky;
    top: 0;
    background-color: var(--dark-gray);
    z-index: 1000; /* Make sure header is on top */
}

.flex-parent {
    display: flex;
    flex-flow: row wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

ul li {
    padding: 10px;
    width: 20%;
}

article p {
    font-size: 1rem;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-family: 'Playfair Display';
    transition-duration: 300ms;
    transition-property: color;
    transition-timing-function: ease;
    font-size: 1.25rem;
}

.nav-link:hover {
    color: var(--gray);
}

.nav-link.activated {
    color: var(--gray);
}

.nav-link.activated:hover {
    color: var(--light-gray);
}

#page-title {
    display: flex;
    height: 81vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    justify-content: space-evenly;
    align-items: center;
}

#page-title h1 {
    background-color: rgba(0, 0, 0, 0.45);
    font-size: 2rem;
    padding: 10px;
    border-radius: 15px;
    color: white;
    letter-spacing: 1px;
    font-weight: 100;
}

#showcase {
    width: 100%;
}

#content {
    background-color: var(--background);
    height: 100%;
}

.bar {
    display: flex;
    flex-flow: row wrap;
    background-color: var(--dark-gray);
    color: white;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: center;
    min-height: 15vh;
}

.bar h4 {
    font-size: 1.75rem;
    width: 30%;
    text-align: left;
}

.bar p {
    text-indent: 50px;
    width: 65%;
}

.border-bottom {
    position: relative;
    left: 0;
}

.border-bottom::after {
    content: "";
    position: absolute;
    bottom: -14px;
    width: 17%;
    height: 7px;
    background: rgba(204, 186, 174, 0.17);
    left: 25%;
}

#footer {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    color: white;
    min-height: 25vh;
    padding-top: 5px;
    margin-top: 2rem;
    padding-bottom: 5px;
    background-color: var(--dark-gray);
    font-size: x-large;
}

#footer a {
    color: white;
}

#footer h4 {
    margin: 0;
    font-size: xx-large;
    font-style: normal;
    text-align: center;
}

#footer .contact, #footer section, #footer .logo, #footer-name {
    width: 30%;
}

#logo-img {
    max-width: 199px;
}

.contact {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#contact-info {
    font-size: 1.25rem;
}

.cards {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-evenly;
    margin-top: 2rem;
}

.cards article {
    display: flex;
    flex-flow: column wrap;
    background-color: var(--gray);
    width: 30%;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: var(--gray) 2px 2px 10px;
}

.cards article.color-break {
    background-color: var(--leastlight-gray);
}

.card-title, .item-title, .row-item-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin: 0;
    padding-top: 1rem;
    font-weight: bold;
}

.row-item-title {
    padding-left: 1rem;
}

.six-grid {
    max-width: 1280px;
    margin: 0 auto;
    flex-flow: row wrap;
    justify-content: space-around;
}

.six-grid > article {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 25%;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.split {
    margin-top: 2rem;
}

.cards > article > p {
    text-indent: 50px;
    color: white;
}

.card-img {
    border-radius: 5px;
    width: 100%;
}

.button {
    align-self: flex-end;
    background-color: var(--button);
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    transition-duration: 300ms;
    transition-property: color, background-color;
    transition-timing-function: ease;
}

.button:hover {
    color:var(--button);
    background-color: white;
}

.row {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: center;
}

.stacked {
    margin-top: 2rem;
    flex-direction: column;
}

.row article, .row div {
    width: 50%;
}

.row div img.card-img {
    width: 100%
}

.row article p {
    text-indent: 50px;
    padding-left: 1rem;
    color: white;
}
/* 300 Lines yay */
.row-card {
    display: flex;
    flex-flow: row wrap;
    background-color: var(--gray);
    padding: 0.5rem;
    border-radius: 5px;
    width: 60%;
    box-shadow: var(--gray) 2px 2px 10px;
    justify-content: space-evenly;
    align-content: space-evenly;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.rev {
    flex-flow: row-reverse wrap;
}

.row-card.color-break  {
    background-color: var(--medium-gray);
}

/* 
These classes are to make the formatting of different grids easier.
*/
.center {
    align-self: center;
}

.column {
    flex-flow: column wrap;
}

.logo {
    flex-shrink: 1;
}

.end {
    margin-bottom: 0;
}

.top-row {
    margin-top: 2rem;
    margin-left: 0;
    margin-bottom: 0;
}

.bottom-row-grid {
    margin-bottom: 0;
}

.margin {
    margin-right: 2rem;
}

.std-margin-bottom {
    margin-bottom: 2rem;
}

.card-align {
    max-width: 1280px;
    justify-content: space-between;
}

.card-align-header {
    padding-left: 1.75rem;
}

.extra-align-header {
    padding-left: 1.5rem;
}


.card-align p {
    padding-right: 1rem;
}

.padding-exclude {
    padding: 0;
    margin: 0;
}

.larger {
    width: 65% !important;
}

.extra-align {
    max-width: 848px;
}