* {
    font-family: 'Playfair Display'; /* Default font face */
    box-sizing: content-box;
    font-weight: 1;
}

:root {
    --dark-gray: rgba(55, 55, 55, 1);
    --medium-gray:rgba(85, 85, 85, 1);
    --gray:rgba(105, 105, 105, 1);
    --leastlight-gray:rgb(130, 130, 130);
    --light-gray: rgb(160, 160, 160);
    --background: rgb(240, 240, 240);
    --button: rgb(160, 160, 200);
}

p, figcaption, em, strong, q, a, address {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#home {
    margin: 0;
}

#home #page-title {
    background-image: url("/images/housephoto.png");
}

header {
    position: sticky;
    top: 0;
    background-color: var(--dark-gray);
    z-index: 6969; /* Make sure header is on top */
}

.flex-parent {
    display: flex;
    flex-flow: row wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    list-style: none;
}

ul li {
    padding: 10px;
}

figcaption {
    font-size: 0.9rem;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-family: 'Playfair Display';
}

.nav-link.activated {
    color: var(--light-gray);
}

#page-title {
    display: flex;
    height: 81vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    justify-content: space-evenly;
    align-items: center;
}

#page-title h1 {
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 2rem;
    padding: 10px;
    border-radius: 15px;
    color: white;
    letter-spacing: 2px;
    font-weight: 100;
}

#showcase {
    width: 100%;
}

#content {
    background-color: var(--background);
}

.bar {
    display: flex;
    flex-flow: row wrap;
    background-color: var(--dark-gray);
    color: white;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: center;
    min-height: 15vh;
}

.bar h4 {
    font-size: 1.75rem;
    width: 30%;
    padding-left: 25px;
}

.bar p {
    text-indent: 50px;
    width: 65%;
}

#footer {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: center;
    color: white;
    min-height: 25vh;
    padding: 5px;
    background-color: var(--dark-gray);
    font-size: x-large;
}

#footer address {
    padding-left: 50px;
}

#footer a {
    color: white;
}

#footer h4 {
    margin: 0;
    font-size: xx-large;
    font-style: normal;
}

#footer img {
    width: 20%;
}

.cards {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.six-grid {
    max-width: 1280px;
    margin: 0 auto;
    flex-flow: row wrap;
    justify-content: space-around;
}

.six-grid > figure {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 25%;
}

.cards figure {
    display: flex;
    flex-flow: column wrap;
    background-color: var(--gray);
    width: 30%;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: var(--gray) 2px 2px 10px;
}

.cards figure.color-break {
    background-color: var(--leastlight-gray);
}

.cards > figure > figcaption {
    text-indent: 50px;
    padding-top: 5px;
    color: white;
}

.card-img {
    border-radius: 5px;
    width: 100%;
}

.button {
    align-self: flex-end;
    background-color: var(--button);
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.row {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: center;
}

.stacked {
    flex-direction: column;
}

.row article {
    width: 50%;
}

.row article img.card-img {
    width: 100%
}

.row article p {
    text-indent: 50px;
    padding-left: 5px;
    color: white;
    font-size: 1rem;
}

.row-card {
    display: flex;
    flex-flow: row wrap;
    background-color: var(--gray);
    padding: 0.5rem;
    border-radius: 5px;
    width: 70%;
    box-shadow: var(--gray) 2px 2px 10px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.rev {
    flex-flow: row-reverse wrap;
}

.row-card.color-break  {
    background-color: var(--medium-gray);
}